/*CSS Reset*/
*{
    margin:0px;
    padding:0px;
}
body{
    /*Hides the  bottom scrollbar*/
    overflow: hidden;
}
/*Styling of the Game's Name*/
#gameName{
    position: absolute;
    left: 24vw;
    background-color: white;
    font-weight: bold;
    font-size: 4rem;

}
/*Background image styling*/
.container{
    background-image: url(cover.jpg);
    background-size:cover;
    width:100vw;
    height:100vh;
}

.design {
    position:absolute;
    top: 109px;
    right: 57px;

    background-color: black;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

/*ScoreCard Styling*/
#scorecount{
    position:absolute;
    top:20px;
    right:20px;
    background-color: black;
    padding: 28px;
    border-radius: 20px;
    color: white;
}
/*Obstacle image styling and postioning*/
.obstacle{
    background-image: url(squee-latios-01.png);
    background-size: cover;
    width:180px;
    height: 180px;
    position:absolute;
    bottom:40px;
    right:120px;
}
/*Applying aniamation to the obstacle so that it can move towards left*/
.animateobstacle{
    animation: aniob 5s linear infinite;
}
@keyframes aniob{
    0%{
        left:100vw;
    }
    100%{
        left:-10vw;
    }
}
/*Dragon's styling*/
.dragon{
    background-image: url(squee-latias-01.png);
    background-size: cover;
    width: 180px;
    height: 180px;
    position:absolute;
    bottom:50px;
    left:90px;
}
/*Applying animation to the dragon so that it can save himself by jumping up*/
.animatedragon{
    animation: ani 1s linear;
}
@keyframes ani{
    0%{
        bottom:50px;
    }
    25%{
        bottom:200px;
    }
    50%{
        bottom:350px;
    }
    75%{
        bottom:261px;
    }
    100%{
        bottom:50px;
    }
}
/*gameover styling and positioning*/
.gameover{
    visibility: hidden;
    font-family: 'Ubuntu', sans-serif;
    position:absolute;
    top:50vh;
    left:35vw;
    color:red;
    font-weight:bold;
    font-size: 6rem;
    background-color: firebrick;
    border-radius: 20px;
}